{% set advanced_config_nav_values = ['intelligence', 'access', 'operations'] %}
{% if config_nav|default('') in advanced_config_nav_values %}
  {% set nav_section_id = 'admin' %}
  {% set nav_aria_key = 'config.admin_overview_link' %}
  {% set nav_aria_fallback = 'Admin navigation' %}
  {% set current_nav_id = 'admin.' ~ config_nav %}
{% else %}
  {% set nav_section_id = 'settings' %}
  {% set nav_aria_key = 'config.nav_label' %}
  {% set nav_aria_fallback = 'Settings navigation' %}
  {% set legacy_nav_value = config_nav|default('') %}
{% endif %}
{% include "_section_nav.html" %}
