{% extends "base.html" %}
{% block content %}
<main class="config-layout config-domain-layout config-domain-surface-layout config-files-layout">
  {% include "_config_nav.html" %}
  {% include "_config_page_header.html" %}
  <section class="floating-card config-domain-section">
    {% set picker_action = '/config/files' %}
    {% set save_action = '/config/files/save' %}
    {% set picker_id = 'editable-file' %}
    {% set textarea_id = 'editable-content' %}
    {% set picker_label_key = 'config_files.file' %}
    {% set content_label_key = 'config_files.content' %}
    {% set save_label_key = 'config_files.save' %}
    {% set empty_label_key = 'config_files.empty' %}
    {% include "_text_file_editor.html" with context %}
  </section>
</main>
{% endblock %}
